/* COLOR VARIABLES */
:root {
    --primary: #dad2a5;
    --secondary: #ce873c;

    --success: #3D7B46;
    --info: #256EFF;
    --warning: #FF8811;
    --danger: #CC3F0C;

    --light: #f0e8c3;
    --dark: #1C252A;
    --dark2: #313c3f;
}

/* FONT FAMILIES */
.font-title {
    font-family: 'Josefin Sans', sans-serif;
}

.font-title-alt {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-quote {
    font-family: 'Architects Daughter', cursive;
}

/* TEXT COLORS */
.custom-text-primary {
    color: var(--primary);
}
.custom-text-secondary {
    color: var(--secondary);
}
.custom-text-light {
    color: var(--light);
}
.custom-text-dark {
    color: var(--dark);
}

/* BACKGROUND COLORS */
.custom-bg-primary {
    background-color: var(--primary);
}
.custom-bg-secondary {
    background-color: var(--secondary);
}
.custom-bg-light {
    background-color: var(--light);
}
.custom-bg-dark {
    background-color: var(--dark);
}
.custom-bg-dark2 {
    background-color: var(--dark2);
}

/* NAV LINK */
.nav-link {
    color: var(--dark);
}
.nav-link:hover {
    color: var(--dark);
    background-color: var(--light);
}

/* LINKS */
.custom-hover-icon:hover {
    color: var(--light);
}

.card-link {
    color: var(--dark);
}

.card-link:hover {
    color: var(--secondary);
}

.text-link {
    color: var(--primary);
}

.text-link:hover {
    color: var(--secondary);
}

/* TITLE GRADIENT */
.title-gradient {
    background-image: linear-gradient(to top, var(--dark2), var(--dark));
}

/* SPACER */
.spacer {
    height: 50px;
}

/* SPACER */
.spacer-big {
    height: 100px;
}

/* BACKGROUND SHAPES */
.pos-rel {
    position: relative;
}

.o-flow {
    overflow: hidden;
}

.bg-rect {
    background-color: var(--dark2);
    position: absolute;
    margin: 0;
    z-index: -1;
}

.bg-rect.rect1 {
    height: 96%;
    width: 200%;
    left: -50%;
    top: 2%;
    transform: rotate(3deg);
}

.bg-rect.rect2 {
    height: 50%;
    width: 100%;
    left: 30%;
    top: 2%;
    transform: rotate(-8deg);
}

.bg-rect.rect3 {
    height: 200%;
    width: 200%;
    left: -50%;
    top: 8%;
    transform: rotate(-2deg);
}

/* ROT CARD */

.rot-card1 {
    transform: rotate(-2deg);
}

.rot-card2 {
    transform: rotate(5deg);
}